<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>Don't work hard.<br>Work smart.</h2>
      <a href="/users/sign_up" class="btn btn-outline btn-xl page-scroll">Let us take you to the promise land!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
